@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    font-family: 'Overpass', sans-serif;
}

body{
    width: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.container{
    position: absolute;
    background-color: hsl(216, 12%, 8%);
    padding: 30px;
    border-radius: 7%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-stars{
    display: flex;
    background-color: hsl(213, 19%, 18%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.stars{
    position: absolute;
    display: flex;
}

.description .description-p{
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}


.container-notes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 15px 0;
}

.container-notes .note{
    display: flex;
    background-color: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-notes .note:hover{
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.container-notes .active{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

#button-submit{
    width: 100%;
    padding: 15px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}

.container-illustration{
    text-align: center;
}

.result{
    margin: 40px 0;
}

.result span{
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    font-size: 15px;
    border-radius: 40px;
    padding: 10px 25px;
}

.none{
    display: none;
}

.center{
    text-align: center;
}

@media screen and (max-width: 400px) {
    .container{
        width: 80%;
    }
}